<h1>Welcome to Rock Paper Scissors</h1>
<form action="/play">
  <div class="form-group">
     <label for="userInput">Enter a word to find its Scrabble value.
</label>
     <input id="userInput" name="userInput" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">One, Two, Go Play!</button>
</form>
