<h1>Welcome to Rock Paper Scissors</h1>
<form action="/play">
  <div class="form-group">
    <label for="player1Input">Player 1: Choose your weapon!</label>
    <select id="player1Input" name="player1Input" class="form-control">
      <option>Rock</option>
      <option>Paper</option>
      <option>Scissors</option>
    </select>
  </div>
  <button type="submit" class="btn-success">One, Two, Go Play!</button>
</form>
