<h1>Welcome to Rock Paper Scissors</h1>
<form action="/play">
  <div class="form-group">
    <label for="player1Input">Player 1: Choose your weapon!</label>
    <select id="player1Input" name="player1Input" class="form-control">
      <option value="rock">Rock</option>
      <option value="paper">Paper</option>
      <option value="scissors">Scissors</option>
    </select>
    <label for="player2Input">Player 2: Choose your weapon!</label>
    <select id="player2Input" name="player2Input" class="form-control">
      <option value="rock">Rock</option>
      <option value="paper">Paper</option>
      <option value="scissors">Scissors</option>
    </select>
  </div>
  <button type="submit" class="btn-success">One, Two, Go Play!</button>
</form>
